body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.errorlist li {
    padding: 10px;
    background-color: #FFFF00;
    color: black;
}

ul, li {
    padding: 0%;
    margin: 0%;
}

.main.card-body {
    padding: 0;
}

.errorlist li {
    text-decoration: solid;
    border-radius: 5px;
    list-style-type: none;
    padding: 0px;
    background-color: #f44336;
    color: white;
  }

form, main{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.row-reverse{
    flex-direction: row-reverse;
}

.signature{
    font-family: 'Caveat Brush', cursive;

}