*/__pycache__/
case/settings/__pycache__/
env
*/migrations/
*.pyc
db.sqlite3
.vscode/settings.json
tools/
contact/
case/settings/settings_secret.py
home/nohup.out
nohup.out
media/
nohup.out
case/settings/base.py
notes.txt
archive/
case/settings/secret.py
case/static
.env.swp
.env
*.swp
home/static/css/style.css.map
