{% load static i18n %}

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- <div class="container d-flex flex-column flex-lg-row bg-light justify-content-around border-top border-warning pt-2 pb-lg-3">
        <div class="mx-md-3 text-center notranslate order-0 brand">
            <i class="fas fa-map-marker-alt"></i> CaSE 1 <br>
            <small class="text-muted">Bunderan, Cemara Asri Deliserdang, Medan, Indonesia, 20317</small>
        </div>
        <div class="mx-md-3 text-center notranslate order-lg-2 brand">
            <i class="fas fa-map-marker-alt"></i> CaSE 2<br>
            <small class="text-muted">Jalan S Parman Medan</small>
        </div>
        <div class="mx-md-3 text-center order-lg-1">
            <a class="fa-2x text-primary" href="#_top"><i class="fas fa-arrow-circle-up"></i></a>
        </div>
    </div> -->
    <div class="container d-flex flex-column flex-lg-row justify-content-around">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <small>
                © 2019 Copyright: CaSE Medan</small></div>
        <!-- Copyright -->
    </div>

</footer>
<!-- Footer -->