{% load static i18n   %}

<footer class="page-footer font-small special-color-dark pt-0">
    <div class="container d-flex flex-column justify-content-around">
        <div class="footer-copyright text-center text-light py-0 mx-auto">
            <div class="d-flex flex-row"></div>
        </div>
        <div class="footer-copyright text-center bg-dark text-light my-3 rounded px-3">
            <small>
                © 2020 Copyright CaSE Medan
            </small>
        </div>
    </div>
</footer>
